#content {   
  .row {
    padding: 2*$gutter 0;
  }
  .column img {
    max-width: 100%;   
  }
  .third {
    text-align: right;
  }
  #hero {
    padding-bottom: 0;
    h1 {
      margin: 0 0 $gutter/2;
    }
    h2 {
      color: inherit;
      font-size: normal;
    }
  }
  #register {
    padding-top: 0;
    position: relative;
    p {
      bottom: 4.5rem;
      display: block;
      margin: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      a {
        @include button(#FFF);
        font-size: $huge;
        padding: $gutter/2 $gutter;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  #mail {
    border: 2px solid tint($base, 80%);
    @include border-radius($radius);
    .mc-field-group {
      display: inline;
      label {
        display: none;
      }
      input {
        margin-bottom: $gutter/2;
      }
    }
    .button {
      @include button($blue);
    }
  }
  #speakers {
    a {
      @include button($green);
    }
  }
  #sponsors {
    a {
      @include button($green);
    }
  }
}

/* Mobile */
@media (max-width: 40rem) { 
  #content {
    text-align: center;
    .row {
      padding: $gutter 0;
    }
    .third {
      text-align: center;
    }
    h1 {
      font-size: $huge;
    }
    h2 {
      font-size: $large;
    }
    #register {
      img {
        display: none;
      }
      p {
        bottom: auto;
        position: relative;
        a {
          @include button($green);
          padding: $gutter/2 $gutter;
        }
      }
    }
  }
}