#footer {
	background: $grey;
	border-top: 1px solid shade($grey, 10%);
	font-size: $small;
	padding-top: 2*$gutter;
	a {
  	color: inherit;
  }
	h3 {
		font-size: inherit;
		margin: 0 0  $gutter/2;
	}
	ul {
    list-style: none;
    margin: 0 0 $gutter/2;
    li {
      padding: 0;
    }
  }
  img {
  	@include filter(grayscale(100%));
    float: right;
    margin: 0 0 $gutter/2 $gutter/2;
    opacity: 0.4;
    width: 2*$gutter;
  }
  &:hover {
  	a {
  		color: shade($blue, 10%);
  		&:hover {
  			color: $blue;
  		}
  	}
  	img {
  		@include filter(none);
  		opacity: 1;
  	}
  }
  .copyright {
  	color: tint($base, 40%);
  	font-size: $micro;
  	text-align: right;
  }
}