#header {
  background: $grey;
  font-size: $small;
  margin-bottom: $gutter;
  padding: 1.5*$gutter/2 0;
  text-align: center;
  a {
    color: inherit;
    margin: 0 $gutter/2;
    &:hover {
      color: $base;
    }
  }
}