/* Colors */

$red: #ee5c5d;
$yellow: #F6C700;
$green: #07D774;
$blue: #0095DE;
$base: #273D51;
$grey: tint($base, 95%);

/* Spacing */

$gutter: 20px;
$radius: 5px;

/* Typography */

$font: 'Hiragino Sans GB', Tahoma, Arial, 'Microsoft Yahei', '微软雅黑', STXihei, '华文细黑', sans-serif;

$pico: 10px;
$micro: 12px;
$small: 16px;
$size: 18px;
$large: 22px;
$huge: 32px;
$gigantic: 46px;

/* Layout */

$container: 45rem;
