/* Colors */



$red: #ee5c5d;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$purple: #784FAB;
$grey: #95a5a6;
$dark: #2c3e50;
$base: #3A3A3A;

/* Spacing */

$gutter: 20px;
$radius: 5px;

/* Typography */

$font: 'Hiragino Sans GB', 'STXihei','Microsoft YaHei',Arial, sans-serif;

$pico: 10px;
$micro: 12px;
$small: 14px;
$size: 16px;
$large: 18px;
$huge: 22px;
$gigantic: 32px;

/* Layout */

$container: 45rem;
