/* Grid from http://www.adamkaplan.me/grid/ */

/* Normalizing box sizing */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

/* Containers control the maximum page's size */
.container {
  margin: 0 auto;
  max-width: $container;
  width: 90%;
}

.row {
  @include clearfix();
}

/*  */
@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.fifth { width: 16.65%; }
  .column.two-fifths { width: 50%; }
  .column.flow-opposite { float: right; }  
}

/* */
@media (min-width: 40rem) {
  .column.flow-opposite { float: right; }
}